.App {
  text-align: center;
  margin-top: 40px;
}

.task-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.task-form > * {
  margin-right: 20px;
}

